<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xref for binary: {{binary_name}}</title>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <style>
        .code-block {
            display: table;
            box-sizing: border-box;
            position: relative;
            table-layout: fixed;
            width: 100%;
        }
        pre {
            margin: 0;
            overflow: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
        .asm-block,
        .src-block {
            width: 50%;
            display: table-cell;
            vertical-align: top;
        }
        li.L0, li.L1, li.L2, li.L3,
        li.L5, li.L6, li.L7, li.L8 {
            list-style-type: decimal !important;
        }

	/* Pretty printing styles. Used with prettify.js. */
	/* Vim sunburst theme by David Leibovic */

	pre .str, code .str { color: #65B042; } /* string  - green */
	pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
	pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
	pre .typ, code .typ { color: #89bdff; } /* type - light blue */
	pre .lit, code .lit { color: #3387CC; } /* literal - blue */
	pre .pun, code .pun { color: #fff; } /* punctuation - white */
	pre .pln, code .pln { color: #fff; } /* plaintext - white */
	pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
	pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
	pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
	pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

	pre.prettyprint, code.prettyprint {
		background-color: #000;
		border-radius: 8px;
	}

	pre.prettyprint {
		width: 95%;
		margin: 1em auto;
		padding: 1em;
		white-space: pre-wrap;
	}


	/* Specify class=linenums on a pre to get line numbering */
	ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
	li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
	/* Alternate shading for lines */
	li.L1,li.L3,li.L5,li.L7,li.L9 { }

	@media print {
	  pre .str, code .str { color: #060; }
	  pre .kwd, code .kwd { color: #006; font-weight: bold; }
	  pre .com, code .com { color: #600; font-style: italic; }
	  pre .typ, code .typ { color: #404; font-weight: bold; }
	  pre .lit, code .lit { color: #044; }
	  pre .pun, code .pun { color: #440; }
	  pre .pln, code .pln { color: #000; }
	  pre .tag, code .tag { color: #006; font-weight: bold; }
	  pre .atn, code .atn { color: #404; }
	  pre .atv, code .atv { color: #060; }
	}


	li.L1, li.L3, li.L5, li.L7, li.L9 {
	    background: #202020;
	}

	body {
	    background-color: rgb(230, 230, 230)
	}

	#myInput {
	  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
	  background-position: 10px 12px; /* Position the search icon */
	  background-repeat: no-repeat; /* Do not repeat the icon image */
	  width: 100%; /* Full-width */
	  font-size: 16px; /* Increase font-size */
	  padding: 12px 20px 12px 40px; /* Add some padding */
	  border: 1px solid #ddd; /* Add a grey border */
	  margin-bottom: 12px; /* Add some space below the input */
	}

	#myUL {
	  /* Remove default list styling */
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	#myUL li a {
	  border: 1px solid #ddd; /* Add a border to all links */
	  margin-top: -1px; /* Prevent double borders */
	  background-color: #f6f6f6; /* Grey background color */
	  padding: 12px; /* Add some padding */
	  text-decoration: none; /* Remove default text underline */
	  font-size: 18px; /* Increase the font-size */
	  color: black; /* Add a black text color */
	  display: block; /* Make it into a block element to fill the whole list */
	}

	#myUL li a:hover:not(.header) {
	  background-color: #eee; /* Add a hover effect to all links, except for headers */
	}

</head>
<body>
</style>


<center><h1>Assignment 4</h1></center><div class="code-block">
		<div class="asm-block">
	  	<span>~</span>
		<pre class="prettyprint linenums: 1 "><br>test:     file format elf64-x86-64<br><br><br>Disassembly of section .init:<br><br><span id=0x0000000000401000></span>0000000000401000 &lt_init&gt:<br>  401000:	f3 0f 1e fa          	endbr64 <br>  401004:	48 83 ec 08          	sub    $0x8,%rsp<br>  401008:	48 8b 05 e9 2f 00 00 	mov    0x2fe9(%rip),%rax        # 403ff8 &lt__gmon_start__&gt<br>  40100f:	48 85 c0             	test   %rax,%rax<br>  401012:	74 02                	je     401016 &lt_init+0x16&gt<br>  401014:	ff d0                	callq  *%rax<br>  401016:	48 83 c4 08          	add    $0x8,%rsp<br>  40101a:	c3                   	retq   <br><br>Disassembly of section .text:<br><br><span id=0x0000000000401020></span>0000000000401020 &lt_start&gt:<br>  401020:	f3 0f 1e fa          	endbr64 <br>  401024:	31 ed                	xor    %ebp,%ebp<br>  401026:	49 89 d1             	mov    %rdx,%r9<br>  401029:	5e                   	pop    %rsi<br>  40102a:	48 89 e2             	mov    %rsp,%rdx<br>  40102d:	48 83 e4 f0          	and    $0xfffffffffffffff0,%rsp<br>  401031:	50                   	push   %rax<br>  401032:	54                   	push   %rsp<br>  401033:	49 c7 c0 c0 11 40 00 	mov    $0x4011c0,%r8<br>  40103a:	48 c7 c1 50 11 40 00 	mov    $0x401150,%rcx<br>  401041:	48 c7 c7 1b 11 40 00 	mov    $0x40111b,%rdi<br>  401048:	ff 15 a2 2f 00 00    	callq  *0x2fa2(%rip)        # 403ff0 &lt__libc_start_main@GLIBC_2.2.5&gt<br>  40104e:	f4                   	hlt    <br><br><span id=0x000000000040104f></span>000000000040104f &lt.annobin_init.c&gt:<br>  40104f:	90                   	nop<br><br><span id=0x0000000000401050></span>0000000000401050 &lt_dl_relocate_static_pie&gt:<br>  401050:	f3 0f 1e fa          	endbr64 <br>  401054:	c3                   	retq   <br><br><span id=0x0000000000401055></span>0000000000401055 &lt.annobin__dl_relocate_static_pie.end&gt:<br>  401055:	66 2e 0f 1f 84 00 00 	nopw   %cs:0x0(%rax,%rax,1)<br>  40105c:	00 00 00 <br>  40105f:	90                   	nop<br><br><span id=0x0000000000401060></span>0000000000401060 &ltderegister_tm_clones&gt:<br>  401060:	b8 20 40 40 00       	mov    $0x404020,%eax<br>  401065:	48 3d 20 40 40 00    	cmp    $0x404020,%rax<br>  40106b:	74 13                	je     401080 &ltderegister_tm_clones+0x20&gt<br>  40106d:	b8 00 00 00 00       	mov    $0x0,%eax<br>  401072:	48 85 c0             	test   %rax,%rax<br>  401075:	74 09                	je     401080 &ltderegister_tm_clones+0x20&gt<br>  401077:	bf 20 40 40 00       	mov    $0x404020,%edi<br>  40107c:	ff e0                	jmpq   *%rax<br>  40107e:	66 90                	xchg   %ax,%ax<br>  401080:	c3                   	retq   <br>  401081:	66 66 2e 0f 1f 84 00 	data16 nopw %cs:0x0(%rax,%rax,1)<br>  401088:	00 00 00 00 <br>  40108c:	0f 1f 40 00          	nopl   0x0(%rax)<br><br><span id=0x0000000000401090></span>0000000000401090 &ltregister_tm_clones&gt:<br>  401090:	be 20 40 40 00       	mov    $0x404020,%esi<br>  401095:	48 81 ee 20 40 40 00 	sub    $0x404020,%rsi<br>  40109c:	48 89 f0             	mov    %rsi,%rax<br>  40109f:	48 c1 ee 3f          	shr    $0x3f,%rsi<br>  4010a3:	48 c1 f8 03          	sar    $0x3,%rax<br>  4010a7:	48 01 c6             	add    %rax,%rsi<br>  4010aa:	48 d1 fe             	sar    %rsi<br>  4010ad:	74 11                	je     4010c0 &ltregister_tm_clones+0x30&gt<br>  4010af:	b8 00 00 00 00       	mov    $0x0,%eax<br>  4010b4:	48 85 c0             	test   %rax,%rax<br>  4010b7:	74 07                	je     4010c0 &ltregister_tm_clones+0x30&gt<br>  4010b9:	bf 20 40 40 00       	mov    $0x404020,%edi<br>  4010be:	ff e0                	jmpq   *%rax<br>  4010c0:	c3                   	retq   <br>  4010c1:	66 66 2e 0f 1f 84 00 	data16 nopw %cs:0x0(%rax,%rax,1)<br>  4010c8:	00 00 00 00 <br>  4010cc:	0f 1f 40 00          	nopl   0x0(%rax)<br><br><span id=0x00000000004010d0></span>00000000004010d0 &lt__do_global_dtors_aux&gt:<br>  4010d0:	f3 0f 1e fa          	endbr64 <br>  4010d4:	80 3d 41 2f 00 00 00 	cmpb   $0x0,0x2f41(%rip)        # 40401c &lt_edata&gt<br>  4010db:	75 13                	jne    4010f0 &lt__do_global_dtors_aux+0x20&gt<br>  4010dd:	55                   	push   %rbp<br>  4010de:	48 89 e5             	mov    %rsp,%rbp<br>  4010e1:	e8 7a ff ff ff       	callq  401060 &ltderegister_tm_clones&gt<br>  4010e6:	c6 05 2f 2f 00 00 01 	movb   $0x1,0x2f2f(%rip)        # 40401c &lt_edata&gt<br>  4010ed:	5d                   	pop    %rbp<br>  4010ee:	c3                   	retq   <br>  4010ef:	90                   	nop<br>  4010f0:	c3                   	retq   <br>  4010f1:	66 66 2e 0f 1f 84 00 	data16 nopw %cs:0x0(%rax,%rax,1)<br>  4010f8:	00 00 00 00 <br>  4010fc:	0f 1f 40 00          	nopl   0x0(%rax)<br><br><span id=0x0000000000401100></span>0000000000401100 &ltframe_dummy&gt:<br>  401100:	f3 0f 1e fa          	endbr64 <br>  401104:	eb 8a                	jmp    401090 &ltregister_tm_clones&gt<br><br><span id=0x0000000000401106></span>0000000000401106 &lttest&gt:<br></pre></div><div class="src-block"></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:101 "><span id=0x0000000000401106></span>  401106:	55                   	push   %rbp
<span id=0x0000000000401107></span>  401107:	48 89 e5             	mov    %rsp,%rbp
<span id=0x000000000040110a></span>  40110a:	89 7d ec             	mov    %edi,-0x14(%rbp)
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:1"><a  >int test(int v){
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:104 "><span id=0x000000000040110d></span>  40110d:	8b 45 ec             	mov    -0x14(%rbp),%eax
<span id=0x0000000000401110></span>  401110:	83 c0 02             	add    $0x2,%eax
<span id=0x0000000000401113></span>  401113:	89 45 fc             	mov    %eax,-0x4(%rbp)
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:2"><a  >	int d = v +2;
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:107 "><span id=0x0000000000401116></span>  401116:	8b 45 fc             	mov    -0x4(%rbp),%eax
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:3"><a  >	return d;
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:108 "><span id=0x0000000000401119></span>  401119:	5d                   	pop    %rbp
<span id=0x000000000040111a></span>  40111a:	c3                   	retq   
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:4"><a  >}
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:112 "><span id=0x000000000040111b></span>  40111b:	55                   	push   %rbp
<span id=0x000000000040111c></span>  40111c:	48 89 e5             	mov    %rsp,%rbp
<span id=0x000000000040111f></span>  40111f:	48 83 ec 20          	sub    $0x20,%rsp
<span id=0x0000000000401123></span>  401123:	89 7d ec             	mov    %edi,-0x14(%rbp)
<span id=0x0000000000401126></span>  401126:	48 89 75 e0          	mov    %rsi,-0x20(%rbp)
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:5"><a  >int main(int argc, char* argv[]) {
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:117 "><span id=0x000000000040112a></span>  40112a:	c7 45 fc 04 00 00 00 	movl   $0x4,-0x4(%rbp)
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:6"><a  >	int a = 4;
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:118 "><span id=0x0000000000401131></span>  401131:	8b 45 fc             	mov    -0x4(%rbp),%eax
<span id=0x0000000000401134></span>  401134:	89 c7                	mov    %eax,%edi
<span id=0x0000000000401136></span>  401136:	e8 cb ff ff ff       	callq  401106 &lttest&gt
<span id=0x000000000040113b></span>  40113b:	b8 00 00 00 00       	mov    $0x0,%eax
<span id=0x0000000000401140></span>  401140:	c9                   	leaveq 
<span id=0x0000000000401141></span>  401141:	c3                   	retq   
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:7"><a href="#0x0000000000401106" >	test(a);
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span></pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:8"><a  >}
</a></pre></div></div><div class="code-block"><div class="asm-block">
        	  	<span>~</span><pre class="prettyprint linenums:20 "><span id=0x0000000000401020></span>  401020:	f3 0f 1e fa          	endbr64 
</pre></div><div class="src-block">
		        <span>test.c</span>
		        <pre class="prettyprint linenums:9"><a  ></a></pre></div></div><div class="code-block">
		<div class="asm-block">
	  	<span>~</span>
		<pre class="prettyprint linenums:124 ">  401142:	66 2e 0f 1f 84 00 00 	nopw   %cs:0x0(%rax,%rax,1)
  401149:	00 00 00 
  40114c:	0f 1f 40 00          	nopl   0x0(%rax)

<span id=0x0000000000401150></span>0000000000401150 &lt__libc_csu_init&gt:
  401150:	f3 0f 1e fa          	endbr64 
  401154:	41 57                	push   %r15
  401156:	4c 8d 3d f3 2c 00 00 	lea    0x2cf3(%rip),%r15        # 403e50 &lt__frame_dummy_init_array_entry&gt
  40115d:	41 56                	push   %r14
  40115f:	49 89 d6             	mov    %rdx,%r14
  401162:	41 55                	push   %r13
  401164:	49 89 f5             	mov    %rsi,%r13
  401167:	41 54                	push   %r12
  401169:	41 89 fc             	mov    %edi,%r12d
  40116c:	55                   	push   %rbp
  40116d:	48 8d 2d e4 2c 00 00 	lea    0x2ce4(%rip),%rbp        # 403e58 &lt__init_array_end&gt
  401174:	53                   	push   %rbx
  401175:	4c 29 fd             	sub    %r15,%rbp
  401178:	48 83 ec 08          	sub    $0x8,%rsp
  40117c:	e8 7f fe ff ff       	callq  401000 &lt_init&gt
  401181:	48 c1 fd 03          	sar    $0x3,%rbp
  401185:	74 1f                	je     4011a6 &lt__libc_csu_init+0x56&gt
  401187:	31 db                	xor    %ebx,%ebx
  401189:	0f 1f 80 00 00 00 00 	nopl   0x0(%rax)
  401190:	4c 89 f2             	mov    %r14,%rdx
  401193:	4c 89 ee             	mov    %r13,%rsi
  401196:	44 89 e7             	mov    %r12d,%edi
  401199:	41 ff 14 df          	callq  *(%r15,%rbx,8)
  40119d:	48 83 c3 01          	add    $0x1,%rbx
  4011a1:	48 39 dd             	cmp    %rbx,%rbp
  4011a4:	75 ea                	jne    401190 &lt__libc_csu_init+0x40&gt
  4011a6:	48 83 c4 08          	add    $0x8,%rsp
  4011aa:	5b                   	pop    %rbx
  4011ab:	5d                   	pop    %rbp
  4011ac:	41 5c                	pop    %r12
  4011ae:	41 5d                	pop    %r13
  4011b0:	41 5e                	pop    %r14
  4011b2:	41 5f                	pop    %r15
  4011b4:	c3                   	retq   
  4011b5:	66 66 2e 0f 1f 84 00 	data16 nopw %cs:0x0(%rax,%rax,1)
  4011bc:	00 00 00 00 

<span id=0x00000000004011c0></span>00000000004011c0 &lt__libc_csu_fini&gt:
  4011c0:	f3 0f 1e fa          	endbr64 
  4011c4:	c3                   	retq   

Disassembly of section .fini:

<span id=0x00000000004011c8></span>00000000004011c8 &lt_fini&gt:
  4011c8:	f3 0f 1e fa          	endbr64 
  4011cc:	48 83 ec 08          	sub    $0x8,%rsp
  4011d0:	48 83 c4 08          	add    $0x8,%rsp
  4011d4:	c3                   	retq   
</pre></div><div class="src-block"></div></div>
</body>
</html>